---
- hosts: all
  gather_facts: no
  connection: local
  vars:
    #ansible_python_default_interpreter: "/usr/bin/python2.6.6"
    #ansible_python_nterpreter: "/usr/bin/python"

  tasks:
    - name: Process Excel
      parse_excel_data:
        filename: "BigIP_Sys.xlsx"
      register: parse_op

    - name: Include the var file
      include_vars:
        file: "./Files/excel_yaml/{{ parse_op.meta.yaml_filename }}"

    - name: Get Log Info
      uri:
        url: "https://{{F5_IP}}/mgmt/tm/util/bash"
        method: POST
        body: "{\"command\":\"run\", \"utilCmdArgs\": \" -c ' tail -n 100  /var/log/ltm' \"}"
        HEADER_Content-Type: "application/json"
        HEADER_Authorization: "{{ F5_AUTH_TOKEN }}"
        validate_certs: false
        body_format: raw
        status_code: 200
      register: pre_log

    - name: Get Failover Status
      uri:
        url: "https://{{F5_IP}}/mgmt/tm/util/bash"
        method: POST
        body: "{\"command\":\"run\", \"utilCmdArgs\": \" -c 'tmsh show sys failover' \"}"
        HEADER_Content-Type: "application/json"
        HEADER_Authorization: "{{ F5_AUTH_TOKEN }}"
        validate_certs: false
        body_format: raw
        status_code: 200
      register: pre_failover

    - name: Get HA group status
      uri:
        url: "https://{{F5_IP}}/mgmt/tm/util/bash"
        method: POST
        body: "{\"command\":\"run\", \"utilCmdArgs\": \" -c 'tmsh show sys ha-group detail' \"}"
        HEADER_Content-Type: "application/json"
        HEADER_Authorization: "{{ F5_AUTH_TOKEN }}"
        validate_certs: false
        body_format: raw
        status_code: 200
      register: pre_hagroup

    - name: Get System traffic status
      uri:
        url: "https://{{F5_IP}}/mgmt/tm/util/bash"
        method: POST
        body: "{\"command\":\"run\", \"utilCmdArgs\": \" -c 'tmsh show sys traffic' \"}"
        HEADER_Content-Type: "application/json"
        HEADER_Authorization: "{{ F5_AUTH_TOKEN }}"
        validate_certs: false
        body_format: raw
        status_code: 200
      register: pre_traffic

    - name: Get Pool Status
      uri:
        url: "https://{{F5_IP}}/mgmt/tm/util/bash"
        method: POST
        body: '{ "command":"run", "utilCmdArgs": " -c \'tmsh list ltm pool {{ pool.name }} \' "} '
        HEADER_Content-Type: "application/json"
        HEADER_Authorization: "{{ F5_AUTH_TOKEN }}"
        validate_certs: false
        body_type: json
        status_code: 200
      register: pre_pool

    - name: Get Virtual status
      uri:
        url: "https://{{F5_IP}}/mgmt/tm/util/bash"
        method: POST
        body: "{\"command\":\"run\", \"utilCmdArgs\": \" -c 'tmsh list ltm virtual {{ vip.name }}' \"}"
        HEADER_Content-Type: "application/json"
        HEADER_Authorization: "{{ F5_AUTH_TOKEN }}"
        validate_certs: false
        body_format: raw
        status_code: 200
      register: pre_virtual

    - debug: var=pre_virtual
    - debug: var=pre_pool

